@page "/chat"

@inject NavigationManager NavManager
@inject DisplayService DisplayService
@inject IJSRuntime JSRuntime

<main>
	<h1>Chat</h1>

	<div class="response_output">
		<ul id="messagesList">
			@foreach (var message in Messages)
			{
				<li>@message</li>
			}
		</ul>
	</div>
	<div id="controlButtons">
		<button @onclick="@(() => ShowJoinDialog())" class="btn btn-primary">Join Channel</button>
		<button @onclick="@(() => ShowLeaveDialog())" class="btn btn-primary">Leave Channel</button>
		<button @onclick="@(() => ShowMacroManagementDialog())" class="btn btn-primary">EditMacros</button>
		<button @onclick="DownloadFile" class="btn btn-primary">Export Macros</button>
	</div>
	<div id="chatForm">
		<label for="sel_send">Channel to send message.</label>
		<select id="sel_send" class="form-control d-flex" name="sel_send" @bind="SelectedValue">
			<option value="" disabled selected hidden>Please choose channel...</option>
			@foreach (var channel in DisplayService.Channels)
			{
				<option value=@channel.Id>@channel.Id</option>
			}
		</select>
		<label for="txt_send">Message to send.</label>
		<input type="text" class="form-control" id="txt_send" name="txt_send" @bind="Message" placeholder="Message" @onkeydown="@CheckForSend" />
		<input type="button" class="btn btn-primary" value="Send" id="btn_send" name="btn_send" @onclick="@SendMessage" />
	</div>
</main>

@code {
	[CascadingParameter] public IModalService Modal { get; set; }

	string Message = "";
	Channel SelectedValue;
	IList<string> Messages = new List<string>();

	protected override async Task OnInitializedAsync()
	{
		base.OnInitialized();

		DisplayService.OnMessageReceived += RecieveMessage;

		await AddChannels();
		await DisplayService.JoinChannels();
		SelectedValue = DisplayService.AllChannel;
	}

	async Task AddChannels()
	{
		var uri = NavManager.ToAbsoluteUri(NavManager.Uri);
		if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("channels", out var _channels))
		{
			var channels = _channels.ToString().Split(',');
			foreach (var channel in channels)
			{
				await DisplayService.AddChannel(channel);
			}
		}
		StateHasChanged();
	}

	void RecieveMessage(object sender, string message)
	{
		Messages.Add(message);
	}

	async Task SendMessage()
	{

		var msg = await DisplayService.SendMessage(SelectedValue,Message);
		Messages.Add(msg);
	}



	IEnumerable<(string Channel, string Message)> GetMessagesToSend()
	{
		List<(string Channel, string Message)> messages = new List<(string Channel, string Message)>();
		if (SelectedValue.ToLower() == "all")
		{

			foreach (var channel in Channels)
			{
				messages.AddRange(channel.GetMessageToSend(Message));
			}

			if (messages.Count == 0)
			{
				foreach (var channel in Channels)
				{
					messages.Add((channel.Name, Message));
				}
			}

		}
		else
		{
			var channel = Channels.Where(c => c.Name == SelectedValue).FirstOrDefault();
			messages.AddRange(channel.GetMessageToSend(Message));
			if (messages.Count == 0)
			{
				messages.Add((channel.Name, Message));
			}
		}

		return messages;
	}

	async Task CheckForSend(KeyboardEventArgs e)
	{
		if (e.Key == "Enter" && !e.ShiftKey)
		{
			await SendMessage();
		}
	}

	async void ShowJoinDialog()
	{
		var modalResponse = Modal.Show<JoinChannelDialog>("Join Channel");
		var result = await modalResponse.Result;


		if (!result.Cancelled)
		{
			var chans = result.Data.ToString().Split(',');
			foreach (var item in chans)
			{
				await ChatService.JoinChannel(item);
				Channels.Add(new Channel(item));
			}
			await base.InvokeAsync(StateHasChanged);
		}
	}

	async void ShowLeaveDialog()
	{
		var parameters = new ModalParameters();
		parameters.Add(nameof(Channels), Channels);

		var modalResponse = Modal.Show<LeaveChannelDialog>("Leave Channel", parameters);
		var result = await modalResponse.Result;


		if (!result.Cancelled)
		{
			Channel channelToLeave = Channels.Where(c => c.Name == result.Data.ToString()).FirstOrDefault();

			await ChatService.LeaveChannel(channelToLeave.Name);
			Channels.Remove(channelToLeave);
		}
		await base.InvokeAsync(StateHasChanged);
	}

	async void ShowMacroManagementDialog()
	{
		var parameters = new ModalParameters();
		parameters.Add("Macros", GetAllMacros());
		parameters.Add(nameof(Channels), Channels);

		var modalResponse = Modal.Show<MacroManagementDialog>("Macro Management", parameters);
		var result = await modalResponse.Result;


		if (!result.Cancelled)
		{
			foreach (var macro in (List<Macro>)result.Data)
			{
				foreach (var channel in Channels)
				{
					channel.AddMacro(macro);
				}
			}
		}
		await base.InvokeAsync(StateHasChanged);
	}

	async void DownloadFile()
	{
		await JSRuntime.InvokeAsync<object>(
			"FileSaveAs",
			"macros.json",
			JsonSerializer.Serialize(GetAllMacros())
		);
	}

	IEnumerable<Macro> GetAllMacros()
	{
		List<Macro> macros = new List<Macro>();

		foreach (var channel in Channels)
		{
			macros.AddUnique(channel.Macros);
		}

		return macros;
	}


}
