@page "/chat"

@inject AuthenticationService AuthenticationService
@inject NavigationManager NavManager
@inject ChannelService ChannelService
@inject MacroService MacroService
@inject IJSRuntime JSRuntime

<main>
	<h1>Chat</h1>

	<div class="response_output">
		<ul id="messagesList">
			@foreach (var displayMessage in Messages)
			{
				<li>
					@displayMessage.Message 
					@if (displayMessage.ModControls) { <ModComponent DisplayMessage="displayMessage" ChannelService="ChannelService" MacroService="MacroService"/> }</li>
			}
			<li id="anchor"></li>
		</ul>
	</div>
	<div id="controlButtons">
		<button @onclick="@(() => ShowJoinDialog())" class="btn btn-primary">Join Channel</button>
		<button @onclick="@(() => ShowLeaveDialog())" class="btn btn-primary">Leave Channel</button>
		<button @onclick="@(() => ShowMacroManagementDialog())" class="btn btn-primary">EditMacros</button>
		<button @onclick="DownloadFile" class="btn btn-primary">Export Macros</button>
	</div>
	<div id="chatForm">
		<label for="sel_send">Channel to send message.</label>
		<select id="sel_send" class="form-control d-flex" name="sel_send" @bind="SelectedValue">
			<option value="" disabled selected hidden>Please choose channel...</option>
			@foreach (var channel in ChannelService.Channels)
			{
				<option value=@channel.Id>@channel.Id</option>
			}
		</select>
		<label for="txt_send">Message to send.</label>
		<input type="text" class="form-control" id="txt_send" name="txt_send" @bind="Message" placeholder="Message" @onkeydown="@CheckForSend" />
		<input type="button" class="btn btn-primary" value="Send" id="btn_send" name="btn_send" @onclick="@SendMessage" />
	</div>
</main>

@code {
	[CascadingParameter] public IModalService Modal { get; set; }

	string Message = "";
	string SelectedValue;
	List<DisplayMessage> Messages = new List<DisplayMessage>();

	protected override async Task OnInitializedAsync()
	{
		base.OnInitialized();

		if(!AuthenticationService.IsAuthenticated)
		{
			NavManager.NavigateTo(NavManager.BaseUri);
		}

		ChannelService.OnMessageReceived += RecieveMessage;

		await AddChannels();
		await ChannelService.JoinChannels();
		SelectedValue = ChannelService.AllChannel.Id;
	}

	async Task AddChannels()
	{
		var uri = NavManager.ToAbsoluteUri(NavManager.Uri);
		if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("channels", out var _channels))
		{
			var channels = _channels.ToString().Split(',');
			foreach (var channel in channels)
			{
				await ChannelService.AddChannel(channel);
			}
		}
		await base.InvokeAsync(StateHasChanged);
	}

	async void RecieveMessage(object sender, DisplayMessage message)
	{
		Messages.Add(message);
		await base.InvokeAsync(StateHasChanged);
	}

	async Task CheckForSend(KeyboardEventArgs e)
	{
		if (e.Key == "Enter" && !e.ShiftKey)
		{
			await SendMessage();
		}
	}

	async Task SendMessage()
	{
		if (string.IsNullOrEmpty(Message))
			await Task.Delay(500);

		var channel = await ChannelService.GetChannel(SelectedValue);
		var msg = await channel.SendMessage(Message);
		Messages.AddRange(msg);
		Message = "";
		await base.InvokeAsync(StateHasChanged);
	}

	async void ShowJoinDialog()
	{
		var modalResponse = Modal.Show<JoinChannelDialog>("Join Channel");
		var result = await modalResponse.Result;


		if (!result.Cancelled)
		{
			var chans = result.Data.ToString().Split(',');
			foreach (var item in chans)
			{
				await ChannelService.AddChannel(item);
			}
			await base.InvokeAsync(StateHasChanged);
		}
	}

	async void ShowLeaveDialog()
	{
		var parameters = new ModalParameters();
		parameters.Add(nameof(ChannelService), ChannelService);

		var modalResponse = Modal.Show<LeaveChannelDialog>("Leave Channel", parameters);
		var result = await modalResponse.Result;

		if (!result.Cancelled)
		{
			await Task.Delay(500);
			await ChannelService.RemoveChannel((Channel)result.Data);
			await base.InvokeAsync(StateHasChanged);
		}
	}

	async void ShowMacroManagementDialog()
	{
		var parameters = new ModalParameters();
		parameters.Add(nameof(MacroService), MacroService);
		parameters.Add(nameof(ChannelService), ChannelService);

		var modalResponse = Modal.Show<MacroManagementDialog>("Macro Management", parameters);
		var result = await modalResponse.Result;


		if (!result.Cancelled)
		{
			await base.InvokeAsync(StateHasChanged);
		}
	}

	async void DownloadFile()
	{
		await JSRuntime.InvokeAsync<object>(
			"FileSaveAs",
			"macros.json",
			JsonSerializer.Serialize(MacroService.GetAllMacros())
		);
	}
}
